/* id section */

#content {
  width:900px;
  margin:0 auto;
}

#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
  text-align: center;
}

#blockquote {
  text-align: center;
  font-style: italic;
}

/* class section */

.banner {
  width:100%;
  margin-bottom: 0;
}

/*For Image background */
.image1 {
  position: relative;
  width: 100%;
  margin-top: 0;
}

h1 {
  position: absolute;
  top: 500px;
  left: 0;
  width: 100%
}

h1 span {
  color: white;
   font: bold 22px Georgia, serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

h2 {
    position: absolute;
    top: 545px;
    left: 0;
    width: 100%
  }

h2 span {
  color: white;
   font: italic 17px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   padding: 10px;
}

h3 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

h4 {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 15px;
  background-color: #ffc20f;
  border-radius: 3px;
  padding: 5px 1.5px;
}


h5 {
    font-family: Helvetica, Arial, sans-serif;
}
.transparent-img {
  text-align: center;
  padding: 10px 5px 0 0;
}

.cap {
  font-size: 20px;
}
p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.image2 {
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 670px;
  height: 400px;
}


.list-unstyled {
  list-style: none;
  margin-left: 0;
  margin-bottom: 20px;
  line-height: 20px;
  padding-left: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.links {
  text-align: left;
}
