#content {
  width:900px;
  margin:0 auto;
}

#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 20px;
}

#blockquote {
  text-align: center;
  font-style: italic;
}
.banner {
  width:100%;
}
h1 {
  font-family:Helvetica, sans-serif;
  font-size: 38px;
  font-weight: bold;
}

.img {
  border-radius: 2px;
}
.img1 {
  border-radius: 2px;
  float: left;
  padding: 5px 20px 0 0px;
  width: 450px;
  height: 350px;
}

.image2 {
  border-radius: 3px;
  float: right;
  padding: 5px 0 0 20px;
  width: 450px;
  height: 350px;
}

.figcap1 {
  font-family:Helvetica;
  font-size: 12px;
  color: gray;
  width: 750px;
}

p {
  font-family: Georgia, serif;
  font-size: 13px;
  line-height: 20px;
}

h3 {
  font-family: Georgia, serif;
  font-size: 14px;
}
.list-unstyled {
  list-style: none;
  margin-left: 0;
  line-height: 20px;
  padding-left: 0;
  font-family: Georgia, serif;
  font-size: 13px;
}

.smaller-font {
  font-size: 10px;
}
