/*CSS style sheet*/

/* headline style here */


.headline {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(90deg, #10EDF5, #28BCE0, #556CBC, #7343A9, #9B0F8C, #B8007F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* byline style here */


#byline {
  text-align: center;
  margin-top: 20px
}
.byline {
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  border-bottom: 3px solid #ff0081;
  text-align: center;
  display: inline-block;
  line-height: 0.85;
}

/* navbar style here */

.navbar-brand {
  font-family: 'Poppins', sans-serif;
  color: #ff48a5;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(90deg, #10EDF5, #28BCE0, #556CBC, #7343A9, #9B0F8C, #B8007F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#navbarSupportedContent {
  font-family: 'Poppins', sans-serif;
  color: #ff48a5;
}


/* body text style here */

p {
  font-family: 'Roboto', sans-serif;
}

.p-body {
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
}

.p-intro {
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
  padding-top: 100px;

}
.chapter {
  font-family: 'Poppins', sans-serif;
  padding-top: 45px;
  color: #ff0081;
  font-weight: 600;
}

.sub-chapter {
  font-family: 'Poppins', sans-serif;
  padding-top: 1em;
  color: #ff0081;
  font-weight: 600;
}

.body {
  line-height: 20px;
}


/* aerospace women picture/ spalsh area */

.hero-container {
  position: relative;
  text-align: center;
}

.hero-image {
  width: 100%;
}
.caption-one {
  width: 100%;
  font-family: Roboto;
  font-size: 12px;
  color: gray;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: left;
}

.overlay {
  position: absolute;
  top: 8%;
  width: 100%;
  opacity: 1;
}

/*DEGREE GRAPH*/
.degree-graph {
  margin-top: 2em;
  margin-bottom: 1em;
}

/* GENDER GRAPH*/
.gender-graph {
  border: none;
  width:220px;
  height: 75px;
  margin-top: auto;
  margin-bottom: 1em;
  margin-left: 1em;
  float: right;
  display: inline-block;
  top: 30px;

}

/* GENDER MATH GRAPH*/
.gender-graph-math {
  float: right;
  border: none;
  width:500px;
  height: 100px;
  margin-top: auto;
  margin-bottom: 1em;
  margin-left: 1em;
  display: inline-block;

}
/*-----------------------------------------------------------------------*/

a:hover {
  background-color: #ffb1d8;
}

.css-typing p{
  border-right: .15em solid #ff0081;
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  white-space: nowrap;
  overflow: hidden;
  color: white;
}
.css-typing p:nth-child(1) {
  width: 5.7em;
  animation: type 2.5s steps(40, end);
  animation-fill-mode: forwards;
  margin-left: 7em;
}

.css-typing p:nth-child(2) {
  width: 12.2em;
  opacity: 0;
  animation: type2 2.5s steps(35, end), blink .5s step-end infinite alternate;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  margin-left: 3.7em;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #ff0081;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #ff0081;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/*MAKE IMG THE BUTTON*/
.img-as-btn {
  border-radius: 30px;
  width: 245px;
  margin: 0;
}

#img-as-btn {
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*DOMINICA MAP*/
.dominica-map {
  width:500px;
  height: 450px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

/*ARUSHI CODE*/
.arushi-code {
  width:500px;
  height: 350px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

/*PUZZLES IMG*/
.puzzles {
  width:550px;
  height: 500px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: auto;
  float: left;
  display: flex;
}

/*OSV IMG*/
.osv {
  width:100%;
  height: 600px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/*HEADSHOTS*/
.kerrin {
  display: inline-block;
  width: 250px;
  height:350px;
  padding: 1em 1em 1em 0;
  float: left;
  border-radius: 40% 10%;
}

.brooke {
  display: inline-block;
  width: 400px;
  height:350px;
  padding: 1em 1em 1em 0;
  float: left;
  border-radius: 40% 10%;
}
/*bullet list for interviewees*/
.list {
  list-style: none;
  display: inline;
  font-family: 'Poppins', sans-serif;
  line-height: 50px;

}
/* footer here */
.footer {
  clear: both;
  padding: 10px;
  background-color: #999;
  color: white;
  text-decoration: right;
}


/* Media queries */

@media(max-width:650px)
p {
  padding-left: 20px;
  padding-right: 10px;
}
